
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

html:not(.dark-mode) {
    --primary-color: #ECE6C2;
    --secondary-color: #D7D0A5;
    --tertiary-color: #D2A24C;
  }
  
.dark-mode {
    --primary-color: #ECE6C2;
    --secondary-color: #D7D0A5;
    --tertiary-color: #D2A24C;
  }

/* Codigo Generalizado */

body {
    background-color: var(--primary-color);
    font-family: 'Red Hat Mono';
    font-weight: 400;
    font-size: 20px; 
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

input {
    cursor: pointer;
}

mark {
    background-color: transparent;
    color: #CC6849;
}

button {
    background-color: #68C7C1;
    border-color: black;
    box-shadow: 1px 1px 2px black;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1.5em;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}

button.add-to-cart {
    background-color: var(--tertiary-color);
    border: none;
    box-shadow: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}

body > header {
    display: grid;
    grid-template-areas: "logo search buttons"
                         "categories categories categories";
    grid-template-columns: auto 2fr auto;
}

header.classic {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        width: 100%;
        text-align: center;
        border-top: 2px solid black;
        border-bottom: 1px solid black;
        padding: 0.5em 0;
        margin: 0 0 0.5em 0;
        font-weight: normal;
    }
}

footer {
    background-color: var(--secondary-color);
    padding: 0.5em;
    text-align: center;
    border-top: 2px solid #000000;
    font-size: 15px;
}

/* Search Bar do Header Default */

.logo {
    display: block;
    height: 7em;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    & * {
        box-sizing: border-box;
        background-color: var(--secondary-color);
        height: 36px;
    }
}

.search-bar button {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 10px;
    box-shadow: none;
    margin: 0;
    & img {
        height: 20px;
    }
}

.search-bar button:first-child {
    margin-right: 0.2em;
}

.search-bar input[type="text"] {
    min-width: 10em;
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
}

/* Buttons do Header Default */

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    padding: 0 40px;
    & a {
        color: #000000;
        text-decoration: none;
        & img {
            height: 20px;
        }
    }
}

.buttons a:first-child {
    padding-right: 15px; 
}

.buttons a:nth-child(2) {
    padding-right: 30px; 
    border-right: 2px solid #000000;
}

/* Categories do Header Default */

.categories {
    grid-area: categories;
    padding: 0 1em;
    background-color: var(--secondary-color);
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.categories li {
    padding: 5px 25px 5px 45px;
    & a {
        font-size: 16px;
    }
}

/* Home Page */

/* Banner */

.big-image {
    display: flex;
    background-color: #000000;
    justify-content: flex-start;
    align-items: center;
}

.slogan {
    color: #ECE6C2; 
    padding: 0 1.5em 0em 2em;
    font-style: italic;
    font-weight: 500;
    font-size: 4.5em; 
    line-height: 1.3;
    width: 10em;
}

/* Scrolling Text */

.categories-squares {
    border-bottom: 2px solid #000000;
    overflow: hidden;
}

.categories-squares a {
    display: inline-block;
    font-size: 70px;
    font-weight: 400;
    width: 100%;
    color: #68C7C1;
    white-space: nowrap;
    animation: moveRight 10s linear infinite;
}

@keyframes moveRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* Category Boxes */

.items-homepage {
    display: grid; 
    grid-template-areas: "Women Men"
                         "Children Home";
    padding: 1.5em 3.5em;
    gap: 3em;
    & a {
        justify-self: center;
        display: grid;
        align-items: center;
        justify-items: center;
        & * {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        & img {
            box-sizing: border-box;
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
    }
}

.category-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    font-weight: 400;
    color:#68C7C1;
    font-size: 30px;
    font-style: italic;
}

.category-link:hover img {
    border: 2px solid black; 
}

/* Profile Page */

#profile_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display_info, .input_info {
    background-color: var(--secondary-color);
    border: 2px solid black;
    padding: 1em;
}

.profile_picture {
    object-fit: cover;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--secondary-color);
}

.my-account {
    justify-content: center;
    & a {
        text-decoration: underline;
    }
    display: grid;
    grid-template-areas: "title void"
                         "info labels";
    column-gap: 5em;
    & .secondary_info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    & ul {
        grid-area: labels;
        display: flex;
        width: 25em;
        flex-direction: column;
        justify-content: space-between;
    }
    padding-bottom: 2em;
}

.selling button, .previous-orders button {
    border: none;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0.5em;       
}

.image_display {
    width: 80%;
    gap: 1em;
    display: grid;
    grid-template-areas: "void title title"
                         "left images right";
    & h1 {
        grid-area: title;
    }
    & .left_arrow {
        grid-area: left;
    }
    & .right_arrow {
        grid-area: right;
    }
    & .images {
        height: 20em;
        grid-area: images;
        display: flex;
        justify-content: space-between;
        & img {
            height: 20em;
            display: block;
        }
    }
}

/* Register/Edit Page */

.register_inputs, .edit_profile_inputs, .login_inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin: 1.5em;
    & .input_fields {
        display: flex;
        flex-direction: column;
        width: 35%;
        gap: 1.5em;
    }
}

/* Sell Page */

.sub_title {
    margin: 0 0 1em 0;
    padding: 0.5em 0;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid black;
}

.input_underlined {
    border: none; 
    background: none; 
    outline: none; 
    padding: 0; 
    font-size: inherit; 
    border-bottom: 1px solid black; 
}

.filters_container {
    width: 100%;
    & section {
        padding: 1em 0;
        display: grid;
        gap: 0.5em;
    }
}

.description {
    grid-area: description;
    box-sizing: border-box;
    padding: 1em 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    & .item_img, & textarea {
        border: 2px solid black;
    }
    & .item_img {
        background-color: gray;
        align-self: center;
        width: 100%;
        flex-grow: 1;
    }
    & textarea {
        flex-grow: 2;
        background-color: var(--secondary-color);
        font-size: inherit; 
        resize: none;
    }
}

.sell_form {
    display: grid;
    grid-template-areas: "description filters"
                         "button button";
    grid-template-columns: 2fr 1fr;
    place-items: center;
    & aside {
        grid-area: filters;
    }
    & button {
        grid-area: button;
    }
}


/* Categories */

#categories_page {
    display: grid;
    grid-template-areas: "filters items";
    grid-template-columns: auto 2fr;
}

.filters_container {
    display: flex;
    flex-direction: column;
    & label {
        margin-bottom: 0.25em;
        box-sizing: border-box; 
    }
}

.filters_container h2, .description h2 {
    font-size: 1em;
    font-weight: 400;
}

.filters {
    grid-area: filters;
    padding: 2em;
    border-right: 2px solid #000000;
}

.color-swatch {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
}

input[name="color"]:checked + label {
    border-width: 4px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: rgb(132, 61, 39);
}

.gray {
    background-color: gray;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

input[type="range"] {
    appearance: none;
    width: 100%; 
    height: 10px; 
    border-radius: 5px; 
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px; 
    height: 20px; 
    background-color: #68C7C1; 
    border-radius: 50%; 
    cursor: pointer; 
}

input[type="range"]::-moz-range-thumb {
    width: 20px; 
    height: 20px; 
    background-color: #68C7C1; 
    border: none; 
    border-radius: 50%; 
    cursor: pointer; 
}

.main-items {
    grid-area: items;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.display_item {
    width: 15em;
    display: grid;
    grid-template-areas: "image image"
                         "info buttons";
    border: 1px solid #000;
    & a {
        grid-area: image;
        & img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
    & .item_info {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        & p {
            margin: 0;
            white-space: nowrap;
        }
    }
    & .item_buttons {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }
    & .item_buttons button{
        margin: 0;
        white-space: nowrap;
        font-size: 0.7em;
    }
}

/* Wishlist */

#main-wishlist {
    padding: 0 5em;
    & h2 {
        text-align: center;
        font-weight: 200;
    }
}

/* Wishlist/Cart Empty */

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
    gap: 1em;
    & img {
        width: 20em;
        height: auto;
    }
    & p:first-of-type {
        font-size: 1.25em;
        font-weight: bold;
    }
    & .description {
        font-size: 0.75em;
        text-align: center;
        width: 25%;
    }
    & button {
        margin: 0;
    }
}

/* Shopping Cart Empty */

.cart {
    & a:first-of-type button {
        background-color: #CC6849;
    }
    & .empty_buttons {
        display: flex;
        flex-direction: column;
        gap: 1em;
        & button {
            width: 100%;
        }
    }
}

/* Login */

.login_inputs img {
    width: 16em;
}

/* My Sellings */

.selling_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selling_items article {
    width: 50%;
    display: flex;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.selling_items article img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.selling_items article .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.selling_items article .info p {
    margin: 0;
    text-align: left;
    padding: 0 1em 1.4em 2.6em;
    font-size: 22px;
}

.selling_items article .info .details {
    display: flex;
    align-items: center;
}

.price, .name {
    font-weight: 700;
}

.color-square, .size-square {
    width: 45px; /* Adjust the width of the square */
    height: 45px; /* Adjust the height of the square */
    border: 1px solid #000;
    margin-left: 1em;
    text-align: center;
}

.color-square {
    margin-left: 3em;
}

.size-square {
    font-size: 30px;
}

.details button {
    margin-left: 1.5em;
    font-size: 20px;
}

.sub_title2 {
    margin: 0 0 1em 0;
    padding: 0.5em 0;
    text-align: center;
    font-weight: 600;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}